.search-form {
    padding-left: 15px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-input {
    width: 1200px;
    height: 20px;
    border-radius: 30px;
    border-color: #72aee6;
    padding: 10px;
}

.search-btn {
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    border-color: #72aee6;
}