.header {
    font-family: -apple-system, BlinkMacSystemFont, 'Cantarell';
    
    background-color: #72aee6;
    font-size: 30px;
    line-height: normal;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 70px;
    padding-left: 1170px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    
    
}

.header-item {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.header-item:hover{
    color: #2c3338;
}